.App {
  text-align: center;
}

.App-header {
  background-color: #dc7000;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

tbody,
tr,
th,
td,
thead,
tfoot {
  border: none !important;
  color: #e8e6e3;
  /* margin: 200px; */
}

p {
  font-size: 1rem;
  color: #e8e6e3;
  font-weight: normal;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #e8e6e3;
  text-decoration: none;
}
